<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Окно боя</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="card">
        <header>
            <div class="time"></div>
            <div class="tatami">ТАТАМИ 1</div>

            <div class="fighters">
                <div class="left-fighter">
                    <div class="club-name">Феникс</div>
                    <div class="city-name">Наро-Фоминск</div>
                    <div class="photo"></div>
                    <div class="fighter-name">Трофимова<br>Варвара Ивановна</div>
                </div>

                <div class="stats">
                    <div class="age">
                        <span class="left-value">16</span>
                        <span class="stat-label">ВОЗРАСТ</span>
                        <span class="right-value">17</span>
                    </div>
                    <div class="height">
                        <span class="stat-value left-value">137</span>
                        <span class="stat-label">РОСТ</span>
                        <span class="stat-value right-value">142</span>
                    </div>
                    <div class="weight">
                        <span class="stat-value left-value">40</span>
                        <span class="stat-label">ВЕС</span>
                        <span class="stat-value right-value">36</span>
                    </div>
                </div>

                <div class="right-fighter">
                    <div class="club-name">Феникс</div>
                    <div class="city-name">Наро-Фоминск</div>
                    <div class="photo"></div>
                    <div class="fighter-name">Белоусова<br>Мария Денисовна</div>
                </div>
            </div>
        </header>

        <div class="footer">
            <div class="titan-text"><span class="striped">Т</span><span>И</span><span class="striped">Т</span><span>А</span><span class="striped">Н</span>
</div>
        </div>
    </div>
<script src="../static/js/script.js"></script>
</body>
</html>