<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Окно боя</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="card">
        <img class="logo" src="../static/images/titan-logo.png">
        <header>
            <div class="time"></div>
            <div class="tatami">ТАТАМИ
                <input class="number-input" type="number" value="1">
            </div>

            <div class="fighters">
                <div class="left-fighter">
                    <input class="club-name" type="text" value="Феникс">
                    <input class="city-name" type="text" value="Наро-Фоминск">
                    <label class="photo">
                        <input type="file" accept="image/*">
                        <span class="file-input">Вставьте фото</span>
                        <img class="photo-preview" src="" alt="">
                    </label>
                    <input class="fighter-name" type="text" value="Трофимова">
                    <input class="fighter-name" type="text" value="Варвара Ивановна">
                </div>

                <div class="stats">
                    <div class="age">
                        <input class="left-value" type="number" value="16">
                        <span class="stat-label">ВОЗРАСТ</span>
                        <input class="right-value" type="number" value="17">
                    </div>
                    <div class="height">
                        <input class="stat-value left-value" type="number" value="137">
                        <span class="stat-label">РОСТ</span>
                        <input class="stat-value right-value" type="number" value="142">
                    </div>
                    <div class="weight">
                        <input class="stat-value left-value" type="number" value="40">
                        <span class="stat-label">ВЕС</span>
                        <input class="stat-value right-value" type="number" value="36">
                    </div>
                </div>

                <div class="right-fighter">
                    <input class="club-name" type="text" value="Феникс">
                    <input class="city-name" type="text" value="Наро-Фоминск">
                    <label class="photo">
                        <input type="file" accept="image/*">
                        <span class="file-input">Вставьте фото</span>
                        <img class="photo-preview" src="" alt="">
                    </label>
                    <input class="fighter-name" type="text" value="Белоусова">
                    <input class="fighter-name" type="text" value="Мария Денисовна">
                </div>
            </div>
        </header>

        <div class="footer">
            <div class="titan-text"><span class="striped">Т</span><span>И</span><span class="striped">Т</span><span>А</span><span class="striped">Н</span>
</div>
        </div>
    </div>
<script src="../static/js/script.js"></script>
</body>
</html>